<html>
  <meta name="color-scheme" content="light" />
  <meta name="supported-color-schemes" content="light" />
  <style>
    @media (prefers-color-scheme: light) {
    }
  </style>

  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 16px; background-color: #FFF3E0; color: #333">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #FFF3E0; padding: 10px; width: 100%">
      <tr>
        <td align="center" style="max-width: 650px; margin: 0 auto">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="background-color: #ffffff; width: 100%; max-width: 600px; border-radius: 12px; border: solid 0.5px #615f5f; text-align: left; overflow: hidden"
          >
            <tr>
              <td style="text-align: center; padding: 30px 0 0 0">
                <img src="{{LOGO_URL}}" alt="DishLink Logo" style="max-width: 192px; height: auto" />
              </td>
            </tr>
            <tr>
              <td style="padding: 24px">
                <div style="padding: 0 16px 16px 16px">
                  <p style="margin: 0 0 16px; font-size: 16px">Dear Customer,</p>

                  <p style="margin: 0 0 16px; font-size: 16px">
                    Welcome to <strong>DishLink</strong>! We are excited to have you on board. <br />
                  </p>

                  <p style="margin: 0 0 16px; font-size: 16px">
                    To verify your email and continue, please press the button below. <br />
                  </p>

                  <p style="margin: 20px 0 24px; text-align: center">
                    <a
                      href="{{VERIFICATION_URL}}"
                      style="
                        display: inline-block;
                        padding: 12px 32px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #ffffff;
                        text-decoration: none;
                        background-color: #FF7043;
                        border-radius: 50px;
                        transition: background-color 0.3s ease;
                      "
                      target="_blank"
                    >
                      Join Now
                    </a>
                  </p>
                </div>

                <p style="margin-top: 10px; text-align: center; font-size: 16px; margin-bottom: 4px">
                  Kind regards,<br />
                  The DishLink Team
                </p>
              </td>
            </tr>

            <tr>
              <td style="padding: 8px; text-align: center; font-size: 12px; background-color: #FFF3E0; color: #666">
                This email was sent automatically. Please do not reply directly to this message.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
